<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}" class="codeberg-design">
<head>
	<meta charset="utf-8">
	<title>{% block title %}{{ SITENAME }}{% endblock %}</title>
	<meta name="description" content="{% block description %}{{ DESCRIPTION }}{% endblock %}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% block meta %}<meta name="author" content="{{ AUTHOR }}">{% endblock %}
	<link rel="stylesheet" href="{{ SITEURL }}/theme/css/pygments.css">
	<link rel="stylesheet" href="https://design.codeberg.org/design-kit/codeberg.css">
	<link href="https://fonts.codeberg.org/dist/inter/Inter%20Web/inter.css" rel="stylesheet">
	<link href="https://fonts.codeberg.org/dist/fontawesome5/css/all.min.css" rel="stylesheet">
	<script defer src="{{ SITEURL }}/theme/js/darkmode.js"></script>
	<script defer src="https://design.codeberg.org/design-kit/codeberg.js"></script>
	<script defer src="https://design.codeberg.org/design-kit/codeberg-components.js"></script>
	<link rel="icon" href="{{ SITEURL }}/theme/css/favicon.ico" type="image/x-icon">
	<link rel="icon" href="{{ SITEURL }}/theme/css/favicon.svg" type="image/svg+xml">
	{% block head %}{% endblock %}
	{% if FEED_ALL_ATOM %}
		<link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" title="Blog" rel="alternate" type="application/atom+xml">
	{% endif %}
</head>

<body class="with-custom-webkit-scrollbars with-custom-css-scrollbars" data-dm-shortcut-enabled="true" data-sidebar-shortcut-enabled="true" data-set-preferred-theme-onload="true">
	<style type="text/css" media="screen">
		.codeberg-design .content {
			max-width: 80ch;
			margin-left: auto;
			margin-right: auto;
		}
		.codeberg-design .content-wrapper {
			padding-left: 20px;
			padding-right: 20px;
		}
	 	.codeberg-design img {
			max-width: 100%;
		}
	</style>

	<div class="page-wrapper with-navbar with-sidebar" data-sidebar-type="overlayed-sm-and-down">
		<nav class="navbar">
			<div class="navbar-content">
				<button class="btn btn-primary" type="button" onclick="halfmoon.toggleSidebar()">
					<i class="fa fa-bars" aria-hidden="true"></i>
					<span class="sr-only">Toggle sidebar</span>
				</button>
			</div>

			<a href="{{ SITEURL }}" class="navbar-brand" title="Codeberg News">
				<img src="https://design.codeberg.org/logo-kit/icon_inverted.svg" alt="Codeberg">
				News
			</a>

			<ul class="navbar-nav d-none d-md-flex w-full">
				{% if LINKS %}
					{% for name, link in LINKS %}
						<li class="nav-item">
							<a href="{{ link }}" class="nav-link">{{ name }}</a>
						</li>
					{% endfor %}
				{% endif %}
				<li class="nav-item ml-auto">
					<a href="javascript:;" onclick="toggleDarkMode()" class="nav-link text-center">
						<i class="fa fa-moon"></i>
					</a>
				</li>
			</ul>

			<div class="navbar-content d-md-none ml-auto">
				<div class="dropdown with-arrow">
					<button class="btn" data-toggle="dropdown" type="button" id="navbar-dropdown-toggle-btn-1">
						Menu <i class="fa fa-angle-down" aria-hidden="true"></i>
					</button>
					<div class="dropdown-menu dropdown-menu-right w-200" aria-labelledby="navbar-dropdown-toggle-btn-1">
						<a href="{{ SITEURL }}" class="dropdown-item">Home</a>
						{% if LINKS %}
							<div class="dropdown-divider my-5"></div>
							{% for name, link in LINKS %}
								<a href="{{ link }}" class="dropdown-item">{{ name }}</a>
							{% endfor %}
						{% endif %}
						{% if SOCIAL %}
							<div class="dropdown-divider my-5"></div>
							{% for name, link in SOCIAL %}
								<a rel="me" href="{{ link }}" class="dropdown-item">
									<i class="fab fa-{{ name.lower() }} " aria-hidden="true"></i> {{ name }}
								</a>
							{% endfor %}
						{% endif %}
						<div class="dropdown-divider my-5"></div>
						<a href="javascript:;" onclick="toggleDarkMode()" class="dropdown-item">
							<i class="fa fa-moon"></i>&nbsp; Toggle Dark Mode
						</a>
					</div>
				</div>
			</div>
		</nav>

		<div class="sidebar-overlay" onclick="halfmoon.toggleSidebar()"></div>
		<div class="sidebar">
			<div class="sidebar-menu">
				<div class="sidebar-title">Navigation</div>
				<div class="sidebar-divider"></div>
				<a class="sidebar-link" href="{{ SITEURL }}">Home</a>
				<a class="sidebar-link" href="{{ SITEURL }}/archives.html">Archives</a>
				<a class="sidebar-link" href="{{ SITEURL }}/authors.html">Authors</a>
				{% for title, link in MENUITEMS %}
					<a href="{{ SITEURL }}/{{ link }}" class="sidebar-link">{{ title }}</a>
				{% endfor %}
				{% if DISPLAY_PAGES_ON_MENU %}
					{% for page in pages %}
						<a href="{{ SITEURL }}/{{ page.url }}" class="sidebar-link">{{ page.title }}</a>
					{% endfor %}
				{% endif %}
				{% if FEED_ALL_ATOM %}
					<a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" class="sidebar-link">
						Atom
					</a>
				{% endif %}
				{% if FEED_ALL_RSS %}
					<a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" class="sidebar-link">
						RSS
					</a>
				{% endif %}
				<br>

				<div class="sidebar-title">Categories</div>
				<div class="sidebar-divider"></div>
				{% for cat, art in categories %}
					<a href="{{ SITEURL }}/category/{{ cat | replace(" ", "-") | lower }}.html" class="sidebar-link">
						{{ cat }} ({{ art | count }})
					</a>
				{% endfor %}
				<br>

				<div class="sidebar-title">Socials</div>
				<div class="sidebar-divider"></div>
				{% if SOCIAL %}
					{% for name, link in SOCIAL %}
						<a href="{{ link }}" class="sidebar-link">
							<i class="fab fa-{{ name.lower() }} pr-5" aria-hidden="true"></i> {{ name }}
						</a>
					{% endfor %}
				{% endif %}
			</div>

			<div class="sidebar-divider"></div>
			<p class="mt-10 mb-5 mx-20 px-5 text-muted">&copy; {{ AUTHOR }} {{ STARTYEAR }}{% if CURRENTYEAR %}–{{ CURRENTYEAR }}{% endif %}</p>
			<a href="https://codeberg.org/codeberg/org/src/Imprint.md" class="sidebar-link">Codeberg Imprint</a>
			<a href="https://blog.getpelican.com" class="sidebar-link">Powered by Pelican</a>
		</div>

		<div class="content-wrapper">
			<div class="container-fluid">
				<div class="content">
					<div class="row">
						<div class="col-md-12">
							{% block content %}{% endblock %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{% include "github.html" %}
</body>
</html>
